#footer
    div(class='ui inverted footer vertical segment')
        div(class='ui stackable center aligned page grid')
            div(class='ten wide column')
                h5(class='ui inverted header') &copy; CS4344 Captain-Hook 2015
