<script>
$('.message .close').on('click', function() {
  $(this).closest('.message').fadeOut();
});
</script>

<div class="cpt hook"><br>

  <div class="ui two column centered grid">
    <div id = "message" class="column ui segment" style="min-height: 8rem;">
      <div class="ui top attached label"><h1 class="ui header"><center>Captain Hook: Basic Gameplay</center></h1></div>
      <br><br>
      See online players on the left, chat with other players on the left.

      <div id = "tutorialmessage" class="ui message">
        <i class="close icon"></i>
        <div class="header">
          Welcome back!
        </div>
        <p>This is a special notification which you can dismiss if you're bored with it.</p>
      </div>
    </div>

    <div class="six column centered row">
      <div id = "playersonline" class="column">
        <h3 class="ui dividing header"><br>Players Currently Online:</h3>
          <i class="user icon"></i>   Player 1<br><br>
          <i class="user icon"></i>   Player 2<br><br>
          <i class="user icon"></i>   Player 3<br><br>
          <i class="user icon"></i>   Player 4<br><br>
          <i class="user icon"></i>   Player 5<br><br>
          <i class="user icon"></i>   Player 6<br><br>
      </div>

      <div id = "gamecanvas" class="column">
      <br><br><br>
        game here
      </div>

      <div id = "groupchat" class="column"><br>
        <div class="column ui segment" style="min-height: 35rem;">
          <div class="ui top attached label"><h3 class="ui header">Group Chat!</h3></div><br>
          Type something!
        </div>
        <form class="ui form">
          <div class="required field">
            <label>Message:</label>
            <div class="ui icon input">
              <input type="text" placeholder="Type Message Here:">
              <i class="mail outline icon"></i>
            </div>
          </div><div class="ui submit button">Submit</div>
        </form>
      </div>

    </div>
  </div>
</div>

</body>

</html>
