extends layout

block content

   content
       div(class='ui inverted masthead segment')
          div(class='ui grid')
             div(class='right aligned three wide column')
                h2(class='ui green dividing header')
                div(class='right column')
                   div(class='ui teal label') Your Team Color
                      div(id='color' class='detail') -
                h2(class='ui green dividing header')
                div(class='right column')
                   div(class='ui red label') HP
                      div(id='hp' class='detail') 100
                h2(class='ui green dividing header')
                div(class='column')
                   div(class='ui yellow label') Team Score
                      div(id='my' class='detail') 0
                   div(class='label') |
                   div(class='ui yellow label') Opponent Team Score
                      div(id='opponent' class='detail') 0
                h2(class='ui green dividing header')
                div(class='column')
                   div(class='ui white label') Delay
                      div(id='delay' class='detail') 0ms
                   div(class='label') |
                   div(class='ui white label') Updated Delay
                      div(id='update_delay' class='detail') 0ms
                h2(class='ui green dividing header')
             div(class='column')
               div(id='captain-hook')

   include ./foot.jade
