doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    link(rel="stylesheet", type="text/css", href="/dist/semantic.css")
    link(rel="stylesheet", type="text/css", href="/stylesheets/captainhook.css")
    script(type='text/javascript', src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js")
    script(type='text/javascript', src="http://cdnjs.cloudflare.com/ajax/libs/jquery.address/1.6/jquery.address.min.js")
    script(type='text/javascript', src="/dist/semantic.js")

    script(type='text/javascript', src="/javascripts/sockjs.min.js")
    script(type='text/javascript' src='javascripts/scriptLoader.js')

    script(type='text/javascript' src='javascripts/Config.js')
    script(type='text/javascript' src='javascripts/Captain.js')
    script(type='text/javascript' src='javascripts/phaser.min.js')
    script(type='text/javascript' src='javascripts/HudManager.js')

  body(id='home' onload="loadScript('', 'javascripts/Client.js')")
    content(id='section1')
        div(class='ui inverted masthead segment')
          div(class='ui page grid')
            div(class='column')
              div(class='ui inverted yellow menu')
                div(class='header item') Captain Hook
                div(class='right menu')
                  a(class='item' onclick='client.createNewRoom()') Create Room

              div(class="ui three column center aligned stackable padded grid")
                div(class='three column row')
                  div(class='red column' style='min-height:40rem;max-height:40rem')
                    h2(class='ui centered header') Players List
                    h3(class='ui dividing header')
                    div(id='player_list' class='ui divided list' style='overflow:auto;max-height:32rem')
                      // create player item

                  div(class='green column' style='min-height:40rem;max-height:40rem')
                    h2(class='ui centered header') Lobby Chat
                    h3(class='ui dividing header')
                    // for chat area
                    div(id='chatarea' class='ui form')

                    h3(class='ui dividing header')

                    div(class='column')
                      div(class='ui labeled input' style='min-height:2rem;max-height:2rem;font-size:0.8rem')
                        div(class='ui label').
                          Message:
                        input(id='message_input' placeholder='type your message ...' type='text' onkeypress='client.searchKeyPress(event)')
                      div(id='message_send' class="ui submit button" style='margin-top:1rem; min-height:2.1rem;max-height:2.1rem;font-size:0.8rem; display:none' onclick='client.sendChatMessage()') Submit

                  div(class='teal column' style='min-height:40rem;max-height:40rem')
                    h2(class='ui centered header') Room List
                    h3(class='ui dividing header')
                    div(id='room_list' class='ui list' style='overflow:auto;max-height:32rem')
                      // add game room item

    content(id='section2')
        div(class="ui vertical feature segment")
          div(class="ui centered page grid")
            div(class="fourteen wide column")
              div(class="ui four column center aligned stackable divided grid")

                div(class='column')
                  div(class='ui card')
                    img(src='assets/team/1.jpeg')
                    div(class='content')
                      a(class='header') Farhan
                    div(class='meta')
                      span(class='date') CS4344 14/15 Semester 2
                    div(class='description').
                      I like CS4344.

                div(class='column')
                  div(class='ui card')
                    img(src='assets/team/2.jpeg')
                    div(class='content')
                      a(class='header') Shi Yu
                    div(class='meta')
                      span(class='date') CS4344 14/15 Semester 2
                    div(class='description').
                      I like CS4344.

                div(class='column')
                  div(class='ui card')
                    img(src='assets/team/3.jpeg')
                    div(class='content')
                      a(class='header') Wu Long
                    div(class='meta')
                      span(class='date') CS4344 14/15 Semester 2
                    div(class='description').
                      I like CS4344.

                div(class='column')
                  div(class='ui card')
                    img(src='assets/team/4.jpeg')
                    div(class='content')
                      a(class='header') Xiao Jie
                    div(class='meta')
                      span(class='date') CS4344 14/15 Semester 2
                    div(class='description').
                      I like CS4344.

    content(id='section3' style='position:absolute;top:0;right:0;bottom:0;left:0;visibility:hidden')
        div(class='ui inverted masthead segment')
          div(class='ui grid')
            div(class='right aligned three wide column')
              h2(class='ui green dividing header')
              div(class='right column')
                div(class='ui gold label') Your Room
                  div(id='room' class='detail') -
              h2(class='ui green dividing header')
              div(class='right column')
                div(class='ui teal label') Your Team Color
                  div(id='color' class='detail') -
              h2(class='ui green dividing header')
              div(class='right column')
                div(class='ui red label') HP
                  div(id='hp' class='detail') 100
              h2(class='ui green dividing header')
              div(class='column')
                div(class='ui yellow label') Team Score
                  div(id='my' class='detail') 0
                div(class='label') |
                div(class='ui yellow label') Opponent Team Score
                  div(id='opponent' class='detail') 0
              h2(class='ui green dividing header')
              div(class='column')
                div(class='ui white label') Delay
                  div(id='delay' class='detail') 0ms
                div(class='label') |
                div(class='ui white label') Updated Delay
                  div(id='update_delay' class='detail') 0ms
              h2(class='ui green dividing header')
              div(class='column')
                div(id='leave_room' class="ui submit button" onclick='client.leaveRoom()') Leave Room
            div(class='column')
              div(id='captain-hook')

include ./foot.jade
