extends layout

block content
  h1(style='text-align:center;').
    #{title}
  p(style='text-align:center;').
    Welcome to #{title}

  div(id='captain-hook' style='width:800px; margin:0 auto;')

  script(type='text/javascript' src='javascripts/Config.js')
  script(type='text/javascript' src='javascripts/Captain.js')
  script(type='text/javascript' src='javascripts/phaser.min.js')
  script(type='text/javascript' src='javascripts/HudManager.js')

  include ./foot.jade
