doctype html
html
  head
    title= title

    link(rel="stylesheet", type="text/css", href="/dist/semantic.css")
    link(rel="stylesheet", type="text/css", href="/stylesheets/captainhook.css")
    script(type='text/javascript', src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js")
    script(type='text/javascript', src="http://cdnjs.cloudflare.com/ajax/libs/jquery.address/1.6/jquery.address.min.js")
    script(type='text/javascript', src="/dist/semantic.js")

    script(type='text/javascript' src='/javascripts/sockjs.min.js')
    script(type='text/javascript' src='javascripts/scriptLoader.js')

  body(onload="loadScript('', 'javascripts/Client.js')")
    block content
