doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src='http://cdn.sockjs.org/sockjs-0.3.min.js')
    script(type='text/javascript' src='javascripts/scriptLoader.js')

  body(onload="loadScript('', 'javascripts/Client.js')")
    block content
